@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Quicksand:wght@300..700&family=Unbounded:wght@200..900&display=swap');
@import url('colors.css');

html {
    scroll-behavior: smooth;
}

.logo-container, .button-container, .icon-container {
    margin: 0;
  }

  .navbar {
    width: 100%;
    max-width: 100%;
  }
  .container-fluid {
    max-width: 100%;
  }
h1 {
    font-family: "Unbounded", sans-serif;
    font-size: 96px;
}

/* Font di fallback */
h1 {
    font-family: "Fraunces", sans-serif;
    font-size: 111px;
}

.unbounded-about {
    text-shadow: -2px -2px 0 #000,
        /* Ombra sopra a left1 */
        2px -2px 0 #000,
        /* Ombra sopra a right1 */
        -2px 2px 0 #000,
        /* Ombra down1 a left1 */
        6px 6px 0 #000;
    color: var(--orange-color);
}

.home-title-background {
    position: relative;
    width: auto;
    height: 100%;
    background-image: url('../img/homeimgsenzatitolo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

h2 {
    font-family: "Unbounded", sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.rectangle-text {
    font-family: "Fraunces", sans-serif;
    font-size: 48px;
    font-weight: 700;
}

body {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    background-color: #FFF0E3;
    margin: 0;
    margin-top: 100px;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #FFF0E3 !important;
}

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

.logo-container {
    width: 15%;
}

.logo-container img {
    text-align: center;
    flex: 1;
}

.menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* Spazio tra i link */
    gap: 20px;
}

.icon-container,
.button-container {
    text-align: center;
    width: 15%;
}

.navbar-container {
    width: 70%;
}

.text-white {
    color: #FFF0E3;
    text-decoration: none;
}


.active {
    color: var(--orange-color) !important;
}

.btn-primary {
    background-color: var(--blue-color);
    border-color: var(--blue-color);
}

/* Footer personalizzato */
.footer {
    background-color: #000000;
    /* Fondo nero */
}

/* Immagini nel lato sinistro */
.footer-images img {
    margin-right: 10px;
}

.footer-right {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer-right a,
p {
    color: var(--blue-color) !important;
    font-size: 1.5rem !important;
}

/* Spazio tra gli elementi */
.footer-right .mb-4 {
    margin-bottom: 1.5rem;
}

.footer-images {
    display: flex;
    flex-direction: column;
    /* Disposizione verticale */
    height: 100%;
    /* Occupa tutta l'altezza disponibile */
}

.footer-images .footer-text {
    font-size: 16px !important;
    margin-top: auto;
    /* Spinge il testo verso il basso */
    text-align: left;
    /* Allinea il testo a left1 */
    color: #ffffff;
    /* Per esempio, bianco */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.custom-background {
    position: relative;
    width: auto;
    height: 100%;
    background-image: url('../img/uniscitialteam-left1.png'), url('../img/uniscitialteam-right1.png');
    background-position: left center, right center;
    /* Immagini sui bordi */
    background-repeat: no-repeat, no-repeat;
    /* Nessuna ripetizione */
    background-size: contain, contain;
    /* Adatta le immagini */
}


.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    color: #FFF0E3 !important;
}

.card-body {
    flex-grow: 1;
}

.card-img-top {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.row {
    justify-content: center;
}

.col-md-4 {
    opacity: 0;
}

.col-md-4.animate {
    opacity: 1;
    animation-fill-mode: forwards;
}

.col-md-4:nth-child(1).animate {
    animation: slide-in-left 1s ease;
}

.col-md-4:nth-child(2).animate {
    animation: slide-in-bottom 1s ease;
}

.col-md-4:nth-child(3).animate {
    animation: slide-in-right 1s ease;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.col-md-4 {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
}

.form-control {
    width: auto !important;
}

/* Stili specifici per dispositivi mobili (max-width: 768px) */
@media (max-width: 1024px) {

    .margin-top-title {
        margin-top: 200px;
    }

    h1,
    .unbounded {
        font-family: "Unbounded", sans-serif !important;
        font-size: 32px !important;
        font-weight: 600 !important;
    }

    /* Font di fallback */
    h1 {
        font-family: "Fraunces", sans-serif;
        font-size: 36px !important;
        font-weight: 700 !important;
        font-style: italic !important;
    }

    h2 {
        font-family: "Unbounded", sans-serif !important;
        font-size: 24px !important;
        font-weight: 600 !important;
    }

    /* Font di fallback */
    h2 {
        font-family: "Fraunces", sans-serif !important;
        font-size: 32px !important;
    }

    .rectangle-text {
        font-family: "Fraunces", sans-serif !important;
        font-size: 36px !important;
        font-weight: 700 !important;
        font-style: italic !important;
        vertical-align: baseline;
    }

    a,
    button,
    div,
    p {
        font-family: "Quicksand", sans-serif !important;
        font-size: 16px !important;
    }

    .container-fluid {
        display: flex;
        justify-content: space-between;
        /* Hamburger, logo e bottone */
        align-items: center;
    }

    .navbar-toggler {
        order: 1;
    }

    .logo-container {
        order: 2;
        flex-grow: 1;
        text-align: center;
    }

    .icon-container {
        order: 3;
    }

    .navbar-collapse {
        text-align: center;
    }

    .home-title-background {
        position: relative;
        width: auto;
        background-image: url(../img/homeimgsenzatitolo.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10px;
    }

    .phone-vis {
        display: none !important;
    }

    .phone-background {
        min-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);
    }

    .phone-background-kitchen1 {
        background-color: var(--orange-color);
        min-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .phone-background-living1 {
        background-color: var(--blue-color);
        min-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .phone-background-bath1 {
        min-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
        background-color: var(--violet-color);
    }

    .mobile-only {
        display: block;
    }

    .pc-rocket-only {
        display: none !important;
    }

    .pc-only {
        display: none !important;
    }


    .unbounded-about {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 0 #000;
        color: var(--orange-color);
    }

    .fullscreen-section {
        height: 60vh !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .trapezoid-mobile-padding {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .index-padding {
        padding-left: 2rem !important;
    }

    .title-position {
        margin-left: 0px;
        margin-top: 0px;
        align-items: center;
    }
}

/* Stili specifici per PC (min-width: 1025px) */
@media (min-width: 1025px) {

    .index-padding-left-8 {
        padding-left: 8rem !important;
    }

    .index-padding-right-4 {
        padding-right: 4rem !important;
    }

    .index-padding-left-4 {
        padding-left: 4rem !important;
    }

    .index-padding-right-8 {
        padding-right: 8rem !important;
    }

    .fullscreen-section {
        height: 100vh !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .margin-top-title {
        margin-top: 200px;
    }

    .mobile-only {
        display: none !important;
    }

    .pc-rocket-only {
        display: flex !important;
    }

    h1,
    .unbounded {
        font-family: "Unbounded", sans-serif !important;
        font-size: 96px !important;
    }

    /* Font di fallback */
    h1 {
        font-family: "Fraunces", sans-serif !important;
        font-size: 111px !important;
    }

    h2 {
        font-family: "Unbounded", sans-serif !important;
        font-size: 32px !important;
        font-weight: 600 !important;
    }

    .rectangle-text {
        font-family: "Fraunces", sans-serif;
        font-size: 48px !important;
        font-weight: 700 !important;
        font-style: italic !important;
    }

    a,
    div,
    p {
        font-family: "Quicksand", sans-serif !important;
        font-size: 20px !important;
    }

    .logo-container {
        order: 1;
    }

    .navbar-collapse {
        order: 2;
    }

    .button-container {
        order: 3;
    }

    .icon-container {
        display: none !important;
    }

    .title-position {
        margin-left: 50px;
        margin-top: 150px;
    }
}