@import url('colors.css');

.mission-title-background {
  position: relative;
  width: auto;
  height: 100%;
  background-image: url('../img/Pirulin.svg');
  background-position: right center;
  background-repeat: no-repeat;
}

.text-trapezoid1-absourd {
  text-align: left;
}

/* Stile specifico per telefoni e tablet */
@media (max-width: 1024px) {
  .mission-title-background {
    position: relative;
    width: auto;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .unbounded-about {
    text-align: end;
  }

  .align-mobile {
    justify-content: flex-end;
  }

  .text-trapezoid1-absourd {
    text-align: left;
    overflow-wrap: break-word;
    word-break: keep-all;
  }

  .trapezoid1-about-shadow {
    margin-top: 0;
  }
}